USE [master]
GO
/****** Object:  Database [QuanLiHocPhan]    Script Date: 13/01/2026 10:36:26 SA ******/
CREATE DATABASE [QuanLiHocPhan]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLiHocPhan', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\QuanLiHocPhan.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLiHocPhan_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\QuanLiHocPhan_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLiHocPhan].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLiHocPhan]
GO
/****** Object:  User [doanjava]    Script Date: 13/01/2026 10:36:27 SA ******/
CREATE USER [doanjava] FOR LOGIN [doanjava] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [doanjava]
GO
/****** Object:  Table [dbo].[DangKyHoc]    Script Date: 13/01/2026 10:36:27 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DangKyHoc](
	[maSV] [varchar](20) NOT NULL,
	[maHP] [varchar](20) NOT NULL,
	[maLHP] [varchar](20) NULL,
	[maDangKy] [varchar](36) NOT NULL,
 CONSTRAINT [PK_DangKyHoc] PRIMARY KEY CLUSTERED 
(
	[maDangKy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Diem]    Script Date: 13/01/2026 10:36:27 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Diem](
	[diemQT] [float] NULL,
	[diemThi] [float] NULL,
	[maDangKy] [varchar](36) NOT NULL,
	[maHP] [varchar](20) NULL,
	[maDiem] [varchar](36) NOT NULL,
	[diemTB] [float] NULL,
 CONSTRAINT [PK_Diem] PRIMARY KEY CLUSTERED 
(
	[maDiem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiangVien]    Script Date: 13/01/2026 10:36:27 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiangVien](
	[maGV] [varchar](20) NOT NULL,
	[hoTen] [nvarchar](100) NOT NULL,
	[hocVi] [nvarchar](50) NULL,
	[email] [varchar](100) NULL,
	[SDT] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[maGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiangVien_HocPhan]    Script Date: 13/01/2026 10:36:27 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiangVien_HocPhan](
	[maGV] [varchar](20) NOT NULL,
	[maHP] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maGV] ASC,
	[maHP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HocPhan]    Script Date: 13/01/2026 10:36:27 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HocPhan](
	[maHP] [varchar](20) NOT NULL,
	[tenHP] [nvarchar](100) NOT NULL,
	[soTinChi] [int] NOT NULL,
	[maGV] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[maHP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LopHocPhan]    Script Date: 13/01/2026 10:36:27 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LopHocPhan](
	[maLHP] [varchar](20) NOT NULL,
	[maHP] [varchar](20) NOT NULL,
	[maGV] [varchar](20) NOT NULL,
	[thu] [int] NOT NULL,
	[tietBatDau] [int] NOT NULL,
	[soTiet] [int] NOT NULL,
	[phong] [nvarchar](20) NULL,
	[siSoToiDa] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[maLHP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SinhVien]    Script Date: 13/01/2026 10:36:27 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SinhVien](
	[maSV] [varchar](20) NOT NULL,
	[hoTen] [nvarchar](100) NOT NULL,
	[lop] [nvarchar](50) NULL,
	[nganh] [nvarchar](100) NULL,
	[khoaHoc] [nvarchar](50) NULL,
	[email] [varchar](100) NULL,
	[SDT] [varchar](10) NULL,
 CONSTRAINT [PK__SinhVien__7A227A64D79375F3] PRIMARY KEY CLUSTERED 
(
	[maSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 13/01/2026 10:36:27 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[MaSV] [varchar](20) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[role] [varchar](20) NOT NULL,
	[created_at] [datetime] NULL,
 CONSTRAINT [PK_Users_New] PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DangKyHoc] ([maSV], [maHP], [maLHP], [maDangKy]) VALUES (N'SV032', N'HP016', N'LHP016', N'01AE0686-FF48-40AC-8AF5-09AE9D3CDD54')
INSERT [dbo].[DangKyHoc] ([maSV], [maHP], [maLHP], [maDangKy]) VALUES (N'SV041', N'HP001', N'LHP001', N'01B380F1-5189-4BD3-9511-AB343D35D9C9')
INSERT [dbo].[DangKyHoc] ([maSV], [maHP], [maLHP], [maDangKy]) VALUES (N'SV024', N'HP012', N'LHP012', N'02C471BC-F000-4B75-8AE9-632DE0C54BBC')
GO
INSERT [dbo].[Diem] ([diemQT], [diemThi], [maDangKy], [maHP], [maDiem], [diemTB]) VALUES (9, 8, N'01AE0686-FF48-40AC-8AF5-09AE9D3CDD54', N'HP016', N'01AE0686-FF48-40AC-8AF5-09AE9D3CDD54', 8.3999996185302734)
INSERT [dbo].[Diem] ([diemQT], [diemThi], [maDangKy], [maHP], [maDiem], [diemTB]) VALUES (5, 6, N'0388B40A-8C45-4EFB-96FE-9A9837E657D2', N'HP003', N'0388B40A-8C45-4EFB-96FE-9A9837E657D2', 5.5999999046325684)
INSERT [dbo].[Diem] ([diemQT], [diemThi], [maDangKy], [maHP], [maDiem], [diemTB]) VALUES (8, 9, N'04583997-3181-4D4B-B27F-2923785668BE', N'HP020', N'04583997-3181-4D4B-B27F-2923785668BE', 8.6000003814697266)
GO
INSERT [dbo].[GiangVien] ([maGV], [hoTen], [hocVi], [email], [SDT]) VALUES (N'GV001', N'Nguyễn Văn Hòa', N'Thạc sĩ', N'hoanv@gmail.com', N'0914837265')
INSERT [dbo].[GiangVien] ([maGV], [hoTen], [hocVi], [email], [SDT]) VALUES (N'GV002', N'Trần Minh Quân', N'Tiến sĩ', N'quantm@gmail.com', N'0392746185')
INSERT [dbo].[GiangVien] ([maGV], [hoTen], [hocVi], [email], [SDT]) VALUES (N'GV003', N'Lê Hoàng Phúc', N'Thạc sĩ', N'phuclh@gmail.com', N'0906382719')
GO
INSERT [dbo].[HocPhan] ([maHP], [tenHP], [soTinChi], [maGV]) VALUES (N'HP001', N'Lập trình Java', 3, N'GV001')
INSERT [dbo].[HocPhan] ([maHP], [tenHP], [soTinChi], [maGV]) VALUES (N'HP002', N'Cơ sở dữ liệu', 3, N'GV002')
INSERT [dbo].[HocPhan] ([maHP], [tenHP], [soTinChi], [maGV]) VALUES (N'HP003', N'Cấu trúc dữ liệu', 3, N'GV003')
GO
INSERT [dbo].[LopHocPhan] ([maLHP], [maHP], [maGV], [thu], [tietBatDau], [soTiet], [phong], [siSoToiDa]) VALUES (N'LHP001', N'HP001', N'GV001', 2, 1, 3, N'101', 30)
INSERT [dbo].[LopHocPhan] ([maLHP], [maHP], [maGV], [thu], [tietBatDau], [soTiet], [phong], [siSoToiDa]) VALUES (N'LHP002', N'HP002', N'GV002', 3, 2, 3, N'102', 30)
INSERT [dbo].[LopHocPhan] ([maLHP], [maHP], [maGV], [thu], [tietBatDau], [soTiet], [phong], [siSoToiDa]) VALUES (N'LHP003', N'HP003', N'GV003', 4, 1, 3, N'103', 30)
GO
INSERT [dbo].[SinhVien] ([maSV], [hoTen], [lop], [nganh], [khoaHoc], [email], [SDT]) VALUES (N'SV001', N'Nguyễn Minh Anh', N'CNTT1', N'Công nghệ thông tin', N'2023-2027', N'minhanh001@gmail.com', N'0987345123')
INSERT [dbo].[SinhVien] ([maSV], [hoTen], [lop], [nganh], [khoaHoc], [email], [SDT]) VALUES (N'SV002', N'Trần Quốc Bảo', N'CNTT1', N'Công nghệ thông tin', N'2023-2027', N'quocbao002@gmail.com', N'0395821746')
INSERT [dbo].[SinhVien] ([maSV], [hoTen], [lop], [nganh], [khoaHoc], [email], [SDT]) VALUES (N'SV003', N'Lê Hoàng Nam', N'CNTT1', N'Công nghệ thông tin', N'2023-2027', N'hoangnam003@gmail.com', N'0974158269')
GO
INSERT [dbo].[Users] ([MaSV], [username], [password], [role], [created_at]) VALUES (N'ADMIN', N'admin', N'123', N'admin', CAST(N'2026-01-13T05:53:49.903' AS DateTime))
INSERT [dbo].[Users] ([MaSV], [username], [password], [role], [created_at]) VALUES (N'SV001', N'minhanhnguyen', N'AnhNguyen@01', N'sinhvien', CAST(N'2026-01-13T05:53:49.903' AS DateTime))
INSERT [dbo].[Users] ([MaSV], [username], [password], [role], [created_at]) VALUES (N'SV002', N'quocbaotran', N'BaoTran#02', N'sinhvien', CAST(N'2026-01-13T05:53:49.903' AS DateTime))
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Lich_Phong]    Script Date: 13/01/2026 10:36:27 SA ******/
ALTER TABLE [dbo].[LopHocPhan] ADD  CONSTRAINT [UQ_Lich_Phong] UNIQUE NONCLUSTERED 
(
	[thu] ASC,
	[tietBatDau] ASC,
	[soTiet] ASC,
	[phong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Users_New_Username]    Script Date: 13/01/2026 10:36:27 SA ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UQ_Users_New_Username] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LopHocPhan] ADD  DEFAULT ((50)) FOR [siSoToiDa]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[DangKyHoc]  WITH CHECK ADD  CONSTRAINT [FK_DK_LopHocPhan] FOREIGN KEY([maLHP])
REFERENCES [dbo].[LopHocPhan] ([maLHP])
GO
ALTER TABLE [dbo].[DangKyHoc] CHECK CONSTRAINT [FK_DK_LopHocPhan]
GO
ALTER TABLE [dbo].[DangKyHoc]  WITH CHECK ADD  CONSTRAINT [FK_DK_SinhVien] FOREIGN KEY([maSV])
REFERENCES [dbo].[SinhVien] ([maSV])
GO
ALTER TABLE [dbo].[DangKyHoc] CHECK CONSTRAINT [FK_DK_SinhVien]
GO
ALTER TABLE [dbo].[Diem]  WITH CHECK ADD  CONSTRAINT [FK_Diem_DangKyHoc] FOREIGN KEY([maDangKy])
REFERENCES [dbo].[DangKyHoc] ([maDangKy])
GO
ALTER TABLE [dbo].[Diem] CHECK CONSTRAINT [FK_Diem_DangKyHoc]
GO
ALTER TABLE [dbo].[GiangVien_HocPhan]  WITH CHECK ADD  CONSTRAINT [FK_GVHP_GiangVien] FOREIGN KEY([maGV])
REFERENCES [dbo].[GiangVien] ([maGV])
GO
ALTER TABLE [dbo].[GiangVien_HocPhan] CHECK CONSTRAINT [FK_GVHP_GiangVien]
GO
ALTER TABLE [dbo].[GiangVien_HocPhan]  WITH CHECK ADD  CONSTRAINT [FK_GVHP_HocPhan] FOREIGN KEY([maHP])
REFERENCES [dbo].[HocPhan] ([maHP])
GO
ALTER TABLE [dbo].[GiangVien_HocPhan] CHECK CONSTRAINT [FK_GVHP_HocPhan]
GO
ALTER TABLE [dbo].[LopHocPhan]  WITH CHECK ADD  CONSTRAINT [FK_LHP_HocPhan] FOREIGN KEY([maHP])
REFERENCES [dbo].[HocPhan] ([maHP])
GO
ALTER TABLE [dbo].[LopHocPhan] CHECK CONSTRAINT [FK_LHP_HocPhan]
GO
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD  CONSTRAINT [FK_SinhVien_Users] FOREIGN KEY([maSV])
REFERENCES [dbo].[Users] ([MaSV])
GO
ALTER TABLE [dbo].[SinhVien] CHECK CONSTRAINT [FK_SinhVien_Users]
GO
ALTER TABLE [dbo].[LopHocPhan]  WITH CHECK ADD  CONSTRAINT [CHK_Thu] CHECK  (([thu]>=(2) AND [thu]<=(7)))
GO
ALTER TABLE [dbo].[LopHocPhan] CHECK CONSTRAINT [CHK_Thu]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CK_Users_New_Role] CHECK  (([role]='admin' OR [role]='sinhvien'))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CK_Users_New_Role]
GO
USE [master]
GO
